# --- Python & Environnement ---
__pycache__/
*.py[cod]
.venv/
.env
.DS_Store

# 2. Processed Data
# On ignore le contenu (*) MAIS on garde le dossier pour que Git puisse voir les exceptions
data/processed_data/*
!data/processed_data/.gitkeep
!data/processed_data/*.dvc

# 3. Raw Data
data/raw_data/*
!data/raw_data/.gitkeep
!data/raw_data/*.dvc

# 4. Predictions
data/*.csv

# 5. Models
# On ignore tout le contenu sauf .gitkeep
models/*
!models/.gitkeep

# 6. Metrics
# On ignore tout le contenu sauf scores.json et .gitkeep
metrics/*
!metrics/.gitkeep
!metrics/scores.json

# ============================================
# Docker
# ============================================
*.dockerignore
